asgiref==3.5.0
Django==4.0.4
numpy==1.22.3
pandas==1.4.2
python-dateutil==2.8.2
pytz==2022.1
simplejson==3.17.6
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
yahoo-finance==1.4.0
django-compressor==4.0
django-sass-processor==1.1
stocksymbol==0.0.5
yfinance==0.1.70