{% extends 'search/base.html' %}

{% block title %} Stock | {{ ticker }} {% endblock %}
{% block body %}
    <div class="container">
        <main class="detailScreen">
            <img class="detailScreen__logo" src="{{ info.logo_url }}" />
            <div class="detailScreen__topWrapper">
                <h1 class="detailScreen__title">{{ longName }}</h1>

                {% if user.is_authenticated %}

                {% if liked %}

                    <a href="{% url 'delete' ticker=ticker %}">
                        <svg class="like-icon like-icon__liked" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 544.6 544.6" style="enable-background:new 0 0 544.6 544.6;" xml:space="preserve">
                        <g>
                            <path d="M448.1,57.8c-72.7-23.6-150.8,15.8-175.7,87.9c-24.9-72.2-103-111.5-175.7-87.9C23.1,81.8-17,160.9,6.9,234.7
                                c23,70.4,235.8,258.9,263,258.9c27.2,0,244.8-188.3,267.8-258.9C561.6,160.7,521.5,81.6,448.1,57.8z"/>
                        </g>
                        </svg>
                    </a>

                {% else %}

                    <a href="{% url 'add' ticker=ticker %}">
                        <svg class="like-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 544.6 544.6" style="enable-background:new 0 0 544.6 544.6;" xml:space="preserve">
                        <g>
                            <path d="M448.1,57.8c-72.7-23.6-150.8,15.8-175.7,87.9c-24.9-72.2-103-111.5-175.7-87.9C23.1,81.8-17,160.9,6.9,234.7
                                c23,70.4,235.8,258.9,263,258.9c27.2,0,244.8-188.3,267.8-258.9C561.6,160.7,521.5,81.6,448.1,57.8z"/>
                        </g>
                        </svg>
                    </a>

                {% endif %}

                {% else %}

                {% endif %}
            </div>

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home" data-bs-toggle="tab">Charts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu1" data-bs-toggle="tab">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu2" data-bs-toggle="tab">Holders</a>
              </li>
            </ul>
            
            <div class="tab-content">
              <div id="home" class="tab-pane fade show active">
                  <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" id="CandleSwitchBtn" aria-current="page" href="#candleChart" data-bs-toggle="tab">Candle</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="LineSwitchBtn" href="#lineChart" data-bs-toggle="tab">Line</a>
                      </li>
                  </ul>
                  <div id="candleChart" class="detailScreen__chart tab-pane fade show active">
                      <div class="detailScreen__chart" id="chart"></div>
                  </div>
                  <div id="lineChart" class="detailScreen__chart tab-pane fade">
                      <div id="chartLine"></div>
                  </div>
              </div>

              <div id="menu1" class="tab-pane fade">
                <div class="detailScreen__summaryTables">
                    <table class="table">
                      <tbody>
                        <tr scope="row">
                          <th>Previous Close</th>
                          <td> {{ info.previousClose  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Open</th>
                          <td> {{ info.open  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Bid</th>
                          <td> {{ info.bid  }} x {{ info.bidSize  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Ask</th>
                          <td> {{ info.ask  }} x {{ info.askSize  }}</td>
                        </tr>
                        <tr scope="row">
                          <th>Day Range</th>
                          <td> {{ info.dayLow  }} - {{ info.dayHigh  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Volume</th>
                          <td> {{ info.volume  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Average Volume</th>
                          <td> {{ info.averageVolume  }}</td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="table">
                      <tbody>
                        <tr scope="row">
                          <th>Market Cap</th>
                          <td> {{ info.marketCap  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Short Percent Of Float</th>
                          <td> {{ info.shortPercentOfFloat }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Price/Ernings</th>
                          <td> {{ info.forwardPE  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Ernings Per Share</th>
                          <td> {{ info.forwardEps  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Book Value</th>
                          <td> {{ info.bookValue  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Last Split Ratio</th>
                          <td> {{ info.lastSplitFactor  }} </td>
                        </tr>
                        <tr scope="row">
                          <th>Website</th>
                          <td> <a href="{{ info.website  }}">{{ info.website  }}</a> </td>
                        </tr>
                      </tbody>
                    </table>
                </div>

                  <div class="news">
                      <h2 class="mb-3">News</h2>
                      {% for new in news %}
                        <div class="card mb-3">
                          <div class="card-body">
                              <small>{{ new.publisher }} - {{new.providerPublishTime|date:"jS M Y"}}</small>
                              <span class="news__type">{{ new.type }}</span>
                              <a href="{{ new.link }}">
                                  <h5 class="card-title">{{ new.title }}</h5>
                              </a>
                          </div>
                        </div>
                      {% endfor %}

                      <p>{{ news }}</p>
                  </div>
              </div>

              <div id="menu2" class="tab-pane fade">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Holder</th>
                      <th scope="col">Shares</th>
                      <th scope="col">Date Reported</th>
                      <th scope="col">% Shares</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in holders %}
                    <tr scope="row">
                      <th> {{ result.Holder }} </th>
                      <th> {{ result.Shares }} </th>
                      <th> {{ result.DateReported }} </th>
                      <th> {{ result.Out }} </th>

                    </tr> 
                    {% endfor %}
                  </tbody>
                  
                </table>

              </div>

            </div>

            
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        let myData = JSON.parse('{{ data_max }}'.replace(/&quot;/g,'"'))
        let values = Object.keys(myData).map(key => ([parseInt(key)*1000, [myData[key][0], myData[key][1], myData[key][2], myData[key][3]]]))

        let dataLine = JSON.parse('{{ data_for_max_close_only }}'.replace(/&quot;/g,'"'))
        let valuesLine = Object.keys(dataLine).map(key => ([parseInt(key)*1000, dataLine[key]]))

        var options = {
          series: [{
          data: values
        }],
          chart: {
          type: 'candlestick',
          height: 350,
          animations: {
              enabled: true
          },
          zoom: {
            autoScaleYaxis: true
          }
        },
        markers: {
            size: 0,
        },
        title: {
          align: 'left'
        },
        xaxis: {
          type: 'datetime',
          labels: {

          }
        },
        yaxis: {
          labels: {
              formatter: (value) => { return value.toFixed(2) }
          },
          tooltip: {
            enabled: true
          }
        },
        plotOptions: {
            candlestick: {
                wick: {
                    useFillColor: true,
                }
            }
        }};

        var optionsLine = {
          series: [{
            data: valuesLine
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: true
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          type: 'datetime',
        },
        yaxis: {
          labels: {
              formatter: (value) => { return value.toFixed(2) }
          }
        }};


        $(document).ready(function() {
            let chart = new ApexCharts(document.querySelector("#chart"), options);
            let chartLine = new ApexCharts(document.querySelector("#chartLine"), optionsLine);
            chart.render();

            $('#CandleSwitchBtn').on('click', function () {
                chartLine.destroy();
                chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render();
            })

            $('#LineSwitchBtn').on('click', function () {
                chart.destroy();
                chartLine = new ApexCharts(document.querySelector("#chartLine"), optionsLine);
                chartLine.render();
            })
        });


    </script>

{% endblock %}