{% extends 'search/base.html' %}

{% block title %} Stock | {{ ticker }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="detailScreen">
            <div class="detailScreen__topWrapper">
                <h1 class="detailScreen__title">{{ longName }}</h1>

                {% if user.is_authenticated %}

                {% if liked %}

                    <a href="{% url 'delete' ticker=ticker %}">
                        <svg class="like-icon like-icon__liked" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 544.6 544.6" style="enable-background:new 0 0 544.6 544.6;" xml:space="preserve">
                        <g>
                            <path d="M448.1,57.8c-72.7-23.6-150.8,15.8-175.7,87.9c-24.9-72.2-103-111.5-175.7-87.9C23.1,81.8-17,160.9,6.9,234.7
                                c23,70.4,235.8,258.9,263,258.9c27.2,0,244.8-188.3,267.8-258.9C561.6,160.7,521.5,81.6,448.1,57.8z"/>
                        </g>
                        </svg>
                    </a>

                {% else %}

                    <a href="{% url 'add' ticker=ticker %}">
                        <svg class="like-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 544.6 544.6" style="enable-background:new 0 0 544.6 544.6;" xml:space="preserve">
                        <g>
                            <path d="M448.1,57.8c-72.7-23.6-150.8,15.8-175.7,87.9c-24.9-72.2-103-111.5-175.7-87.9C23.1,81.8-17,160.9,6.9,234.7
                                c23,70.4,235.8,258.9,263,258.9c27.2,0,244.8-188.3,267.8-258.9C561.6,160.7,521.5,81.6,448.1,57.8z"/>
                        </g>
                        </svg>
                    </a>

                {% endif %}

                {% else %}

                {% endif %}
            </div>

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home" data-bs-toggle="tab">Charts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu1" data-bs-toggle="tab">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu2" data-bs-toggle="tab">Holders</a>
              </li>
            </ul>
            
            <div class="tab-content">
              <div id="home" class="tab-pane fade show active">
                <div class="detailScreen__chart" id="chart"></div>
              </div>

              <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
              </div>

              <div id="menu2" class="tab-pane fade">
                <!--
                <table>
                  <thead>
                    <tr>
                      <th>Holder</th>
                      <th>Shares</th>
                      <th>Date Reported</th>
                      <th>% Shares</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in holders %}
                    <tr>
                      <th> {{ result.Holder }}</th>
                      <th> {{ result.Shares }}</th>

                    </tr> 
                    {% endfor %}
                  </tbody>
                  
                </table>
                -->
              </div>

            </div>

            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        let myData = JSON.parse('{{ data_max }}'.replace(/&quot;/g,'"'))
        let values = Object.keys(myData).map(key => ([parseInt(key)*1000, [myData[key][0], myData[key][1], myData[key][2], myData[key][3]]]))

        var options = {
          series: [{
          data: values
        }],
          chart: {
          type: 'candlestick',
          height: 350,
          animations: {
              enabled: false
          },
          zoom: {
            autoScaleYaxis: true
          }
        },
        markers: {
            size: 0,
        },
        title: {
          text: 'CandleStick Chart',
          align: 'left'
        },
        xaxis: {
          type: 'datetime',
          labels: {

          }
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        },
        plotOptions: {
            candlestick: {
                wick: {
                    useFillColor: true,
                }
            }
        }};

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

{% endblock %}