{% extends 'search/base.html' %}

{% block title %} Stock | {{ ticker }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="detailScreen">
            <h1 class="detailScreen__title">{{ longName }}</h1>

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home" data-bs-toggle="tab">Charts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu1" data-bs-toggle="tab">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu2" data-bs-toggle="tab">Holders</a>
              </li>
            </ul>
            
            <div class="tab-content">
              <div id="home" class="tab-pane fade show active">
                <div class="detailScreen__chart" id="chart"></div>
              </div>

              <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
              </div>

              <div id="menu2" class="tab-pane fade">
                <!--
                <table>
                  <thead>
                    <tr>
                      <th>Holder</th>
                      <th>Shares</th>
                      <th>Date Reported</th>
                      <th>% Shares</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in holders %}
                    <tr>
                      <th> {{ result.Holder }}</th>
                      <th> {{ result.Shares }}</th>

                    </tr> 
                    {% endfor %}
                  </tbody>
                  
                </table>
                -->
              </div>

            </div>

            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        let myData = JSON.parse('{{ data_max }}'.replace(/&quot;/g,'"'))
        let values = Object.keys(myData).map(key => ([parseInt(key)*1000, [myData[key][0], myData[key][1], myData[key][2], myData[key][3]]]))

        var options = {
          series: [{
          data: values
        }],
          chart: {
          type: 'candlestick',
          height: 350,
          animations: {
              enabled: false
          },
          zoom: {
            autoScaleYaxis: true
          }
        },
        markers: {
            size: 0,
        },
        title: {
          text: 'CandleStick Chart',
          align: 'left'
        },
        xaxis: {
          type: 'datetime',
          labels: {

          }
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        },
        plotOptions: {
            candlestick: {
                wick: {
                    useFillColor: true,
                }
            }
        }};

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

    <a href="{% url 'add' ticker=ticker %}">dodaj</a>
    <a href="{% url 'delete' ticker=ticker %}">usun</a>
 
{% endblock %}