{% extends 'search/base.html' %}

{% block title %} Stonks seach {% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>    
    {% endfor %}
{% endif %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>    
        {% endfor %}
    {% endif %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <input type="search" name="search" class="form-control" placeholder="Type here" id="tags">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <script>
      $( function() {
        var availableTags = [
        {% for company in companies %}
            "{{company}}",
        {% endfor %}
        ];
        $( "#tags" ).autocomplete({
            source: availableTags
        });
      } );
    </script>
{% endblock %}


