{% extends 'search/base.html' %}

{% block title %}Stonks search{% endblock %}

{% block bodyclass %}welcome{% endblock %}

{% block body %}

    <main class="welcome-screen">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <h1>Start investing with just one search</h1>
            <form class="main-search" method="POST">
                {% csrf_token %}
                <div class="main-search__inner">
                    <input type="search" name="search" class="form-control" placeholder="Search..." id="tags">
                    <button type="submit" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path fill="currentColor" d="M13.5 7.5a6 6 0 1 0-12 0 6 6 0 0 0 12 0zm-1.25 5.8a7.5 7.5 0 1 1 1.06-1.06l4.22 4.23a.75.75 0 1 1-1.06 1.06l-4.22-4.22z"></path></svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
    
{% endblock %}

<script>
    $( function() {
        let availableTags = [
        {% for company in companies %}
            "{{company}}",
        {% endfor %}
        ];
        $( "#tags" ).autocomplete({
            source: availableTags
        });
    } );
</script>

