{% extends 'search/base.html' %}

{% block title %} Stonks seach {% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">

{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>    
    {% endfor %}
{% endif %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>    
        {% endfor %}
    {% endif %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <input type="search" name="search" class="form-control" placeholder="Type here">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    
{% endblock %}


