{% extends 'search/base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
    <div class="container">
        <form method="POST">
            {% csrf_token  %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit">Login</button>
        </form>
        <div class="border-top mt-3">
            <small class="text-muted">
                Need an account? <a href="{% url 'register' %}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}