{% extends 'search/base.html' %}

{% block body %}
    {% if objects %}
        <main class="liked">
        <div class="container">
            <div class="row mt-4">
            {% for object in objects %}
                <div class="col mb-4 col-md-6 col-lg-4 col-xl-3">
                    <a class="liked__blockLink" href="{% url 'detail' ticker=object.company_name %}">
                        <div class="card">
                            <div class="card-body">
                            <h4 class="card-title">{{ object.company_name }}</h4>
                            <p class="card-text">{{ object.ticker }} <br> {{ object.date_liked }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        </main>
    {% endif %}

    {% if not objects %}
        <div class="container">
            <div class="login-wrapper">
                <h2>There are no liked items</h2>
            </div>
        </div>
        <div class="bottom-wrapper border-top">
            <small class="text-muted">
                <a href="{% url 'index' %}">Go to home page</a>
            </small>
        </div>
    {% endif %}

{% endblock %}
