{% extends 'search/base.html' %}

{% block body %}
    {% if objects %}
        <div class="container">
            <div class="row mt-4 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for object in objects %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                        <h4 class="card-title">{{ object.company_name }}</h4>
                        <p class="card-text">{{ object.ticker }} <br> {{ object.date_liked }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if not objects %}
        <div class="container">
            <div class="login-wrapper">
                <h2>There are no liked items</h2>
            </div>
        </div>
        <div class="bottom-wrapper border-top">
            <small class="text-muted">
                <a href="{% url 'index' %}">Go to home page</a>
            </small>
        </div>
    {% endif %}

{% endblock %}
