asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
Django==4.0.4
django-appconf==1.0.5
django-compressor==4.0
django-sass-processor==1.2
gunicorn==20.1.0
idna==3.3
libsass==0.21.0
lxml==4.9.0
multitasking==0.0.10
numpy==1.22.3
pandas==1.4.2
python-dateutil==2.8.2
pytz==2022.1
rcssmin==1.1.0
requests==2.27.1
rjsmin==1.2.0
simplejson==3.17.6
six==1.16.0
sqlparse==0.4.2
stocksymbol==0.0.5
tzdata==2022.1
urllib3==1.26.9
yahoo-finance==1.4.0
yfinance==0.1.70